@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #4f0072;
  --font-paytone: var(--font-paytone-One);
  --font-mono: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-paytone-One);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply bg-white;
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

/* CSS */
.button-main {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #18181a;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-main span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-main span:last-child {
  color: #18181a;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-main:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-main:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-main:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* BTN ALT */

.button-alt {
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-alt span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-alt span:last-child {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-alt:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #18181a;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-alt:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-alt:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* BTN ALT OUTLINE */

.button-alt-outline {
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  /* background: #fff; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-alt-outline span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-alt-outline span:last-child {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-alt-outline:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #18181a;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-alt-outline:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-alt-outline:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* CSS for scrollbar */

/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

/* style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  /*background-color: gray;  Color of the thumb */
  @apply bg-gray-300;
  border-radius: 5px; /* Radius of the thumb */
}

/* style of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*/

.body {
  background-color: #eeeeee;
  color: #292929;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.3s, background-color 0.3s;
}

.h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading {
  font-size: 2.5rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0.04em 0.04rem 0 #81b5ab;
}

.section {
  overflow: hidden;
}

.wrapper {
  /* height: 100vh; */
  height: 1000px;
}

.list {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  padding: 0.2rem;
}

.item {
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
  box-shadow: rgb(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.item_number {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  position: absolute;
  top: 6rem;
  left: 3rem;
}

.item_content {
  background-color: #fff;
  color: #292929;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  display: flex;
  position: relative;
  width: 50%;
}

.item_media {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-vertical {
  padding: 2rem;
}

@media (max-width: 575.98px) {
  .heading {
    font-size: 2.5rem;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .item_content,
  .item_media {
    height: 50vh;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .item_number {
    font-size: 0.5rem;
    top: 1.5rem;
  }
}

/* PRE LOADER CSS START */

.loadbody {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  /* background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      #03b3ff 0.1%,
      #032859 94.2%
    ); */
  @apply bg-primary flex-col fixed top-0 left-0 bottom-0 right-0 z-50;
  background-size: 100%;
  overflow: hidden;
}

.loading-container {
  width: 100%;
  /* max-width: 520px; */
  @apply max-w-xs lg:max-w-md xl:max-w-xl 2xl:max-w-2xl;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 32px;
}
.loading-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  -webkit-animation: movingLine 2.4s infinite ease-in-out;
  animation: movingLine 2.4s infinite ease-in-out;
}

@-webkit-keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%,
  66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%,
  66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.loading-text {
  /* font-size: 5vw; */
  /* margin-bottom: 32px; */
  line-height: 64px;
  letter-spacing: 10px;
  display: flex;
  /* justify-content: space-evenly; */
  @apply mb-4 lg:mb-8 items-center justify-center gap-px text-3xl lg:text-[5vw];
}
.loading-text span {
  -webkit-animation: moveLetters 2.4s infinite ease-in-out;
  animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
  @apply font-bold font-paytone uppercase;
}

.loading-text span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.loading-text span:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

@-webkit-keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%,
  66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%,
  66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.75;
  }
}
@keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.75;
  }
}

.blinkText {
  /* opacity: 0.2; */
  -webkit-animation: blink 1s ease-out infinite alternate;
  animation: blink 1s ease-out infinite alternate;
}

/* PRE LOADER CSS END */

/* IMage Slide TEst CSS */
.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide:not(#slide-1) {
  transform-origin: center;
  z-index: 2;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
